/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color and center the content */
body {
    font-family: Arial, sans-serif;
    background-color: #cad2c5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the login container */
.login {
    background-color: #84a98c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Style the login form */
.login form {
    margin-top: 20px;
}

.login form table {
    margin: 0 auto;
}

.login form td {
    padding: 10px;
}

.login form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #2f3e46;
    border-radius: 4px;
    outline: none;
}

.login form .btn.login_btn {
    background-color: #354f52;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login form .btn.login_btn:hover {
    background-color: #2f3e46;
}

/* Style the messages */
.login ul {
    list-style-type: none;
    padding: 0;
}

.login ul li {
    color: #1b4332;
    margin-top: 5px;
}

/* Style the "Register Now" link */
.login a {
    text-decoration: none;
    color: #2f3e46;
}

.login a:hover {
    text-decoration: underline;
}
