/* Apply a background color to the body */
body {
    background-color: #d8f3dc;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style the registration container */
.login {
    background-color: #fff;
    width: 600px;
    margin: 0 auto; /* Center horizontally */
    margin-top: 10%; /* Center vertically */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style the registration header */
.login h1 {
    color: #40916c;
    text-align: center;
}

/* Style the form */
.login form {
    margin-top: 20px;
}

/* Style form input fields */
.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-color: #1b4332;
    border-radius: 5px;
}

/* Style the "Daftar" button */
.login input[type="submit"] {
    background-color: #52b788;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login input[type="submit"]:hover {
    background-color: #40916c;
}

/* Style the messages */
.login ul {
    list-style-type: none;
    color: #1b4332;
}

.login ul li {
    margin-bottom: 5px;
}
