{% extends 'base.html' %}

{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>

{% block content %}

<div class="card" style="margin-top: 75px;">
    <h1>Edit Product</h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Edit Product"/>
                </td>
            </tr>
        </table>
    </form>
</div>

<style>
/* Different Styles for the edit product page */
body {
    background-image: url('https://media.discordapp.net/attachments/451810271716180008/1161966033960194118/forest2.jpg?ex=653a3832&is=6527c332&hm=cdf65e3f5fe20470ceb0f58daf2525928a6ba7c4323722fae69e4ecad4ab7382&=&width=1033&height=671');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    background-color: #95d5b2;
    color: #2d6a4f;
}
.card {
    background-color: #d8f3dc;
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

h1 {
    color: #1b4332;
}

form {
    margin-top: 20px;
}

table {
    margin: 0 auto;
}

td {
    padding: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #1b4332;
    border-radius: 4px;
    outline: none;
}

.edit-button {
    background-color: #52b788;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: #40916c;
}

</style>
{% endblock %}