{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
{% endblock meta %}

{% block content %}

<div class="card">
    <h1>Login</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
    Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a>
</div>

<style>
body {
    background-image: url('https://media.discordapp.net/attachments/451810271716180008/1161966033960194118/forest2.jpg?ex=653a3832&is=6527c332&hm=cdf65e3f5fe20470ceb0f58daf2525928a6ba7c4323722fae69e4ecad4ab7382&=&width=1033&height=671');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Style the card container */
.card {
    background-color: #d8f3dc;
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    text-align: center;
}

/* Style the form and input fields */
form {
    margin-top: 20px;
}

table {
    margin: 0 auto;
}

td {
    padding: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #1b4332;
    border-radius: 4px;
    outline: none;
}

/* Style the login button */
.btn.login_btn {
    background-color: #52b788;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.login_btn:hover {
    background-color: #40916c;
}

/* Style the messages */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    color: #1b4332;
    margin-top: 5px;
}

/* Style the "Register Now" link */
a {
    text-decoration: none;
    color: #52b788;
}

a:hover {
    text-decoration: underline;
}

</style>
{% endblock content %}